#container
{
	margin: 0 auto;
	margin-top: 30px;
	width: 1000px;
	height: 500px;
}

body
{
	background: #65B3EE; 
}

#canvas_2D
{
	border: 1px solid yellow;
}

#score{
	font: 46px Buxton Sketch;
	text-align: center;
	color: #ff0;
	text-shadow: 2px 2px 4px rgba(0,0,80,1.0);

	opacity: 0;
	display: none;
	z-index: 1;
}

#fps
{
	position: absolute;
	margin-top: -1.2em;
	z-index: 1;
	color: yellow;
	text-shadow: 2px 2px 2px rgb(80,80,80);
	font: 20px Buxton Sketch;
}

#toast{
	position: absolute;
	margin-left: 200px;
	margin-top: 20px;
	width: 600px;
	font: 40px Buxton Sketch;
	text-align: center;
	color: #ff6;
	text-shadow: 2px 2px 4px rgb(0,0,0);

	transition: opacity 0.5s;
	opacity: 0;
	display: none;
	z-index: 1;
}

#instructions{
	margin-left: 400px;
	padding-left: 5px;
	padding-top: 10px;
	height: 2em;
	color: #ff0;
	font-size: 0.95em;

	transition: opacity 5s;
	display: none;
	opacity: 0;
}

.keys{
	color: blue;
	text-shadow: 1px 1px 1px rgba(255, 255, 0, 0.5);
	background: rgba(0,0,0,0.1);
	border:thin solid rgba(0,0,0, 0.2);
	border-radius: 5px;
	margin-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;

	display: inline;
}

.explanation{
	color: #ff0;
	text-shadow: 1px 1px 1px rgba(0, 0, 200, 0.5);
	margin-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;

	display: inline;
}

#copyright{
	float: right;
	margin-right: 2px;
	margin-top: -2.3em;
	padding: 2px;
	color: blue;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	font-size: 0.85em;

	transition: opacity 5s;
	display: none;
	opacity: 0;
}

#sound-and-music{
	position: absolute;
	margin-left: 5px;
	margin-top: 9px;
	color: #ff0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	background: rgba(0,0,0, 0.1);
	border:thin solid rgba(0,0,0, 0.2);
	border-radius: 5px;
	padding: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 0.9em;

	transition: opacity 5s;
	display: none;
	opacity: 0;
}

.checkbox-div{
	display: inline;
	text-shadow: 1px 1px 1px blue;
}

#loading{
	position: absolute;
	margin-top: 80px;
	width: 790px;
	font: 55px Buxton Sketch;
	text-align: center;

	transition: opacity 2.0s;
}

#loading-title{
	padding-left: 40px;
	padding-bottom: 30px;
	color: #ff6;
	text-shadow: 2px 2px 4px rgb(0,0,0);

	transition: opacity 2.0s;
	display: none;
	opacity: 0;
}